/* *{border:red 1px solid} */

h1{
    margin-top: 3%;
}
hr{
    margin-top: 40px;
    margin-bottom: 20px;
}

.navbar-custom{
    /* display: flex; */
    justify-content: space-evenly;
    flex-grow: 1;
}

.banner{
    height: 200px;
    width: auto;
}
.container{
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom:50px;
}

.black{
    color: black;
}

.model3d{
    width: 40vw;
    height: 50vh;
    border: 1px black dashed;
}